/* Write your CSS here */
.course-header {
  display: flex;
  justify-content: space-between;
}
.duration {
  display: flex;
  align-items: center;
}
.project-img {
  width: 96%;
}
a {
  text-decoration: none;
  font-weight: bold;
}
